---
import Layout from '../layouts/Layout.astro';
import FirstScreen from "../components/FirstScreen.astro";
import CardSection from "../components/CardSection.astro";
import SectionContacts from "../components/SectionContacts.astro";
import Slider from "../components/Slider.astro";
import SidebarCard from "../components/SidebarCard.astro";

const firstSliderItems = [
    {
        image: "/modernise-applications-image.jpg",
        title: "Modernise Applications with Open-Source Software on Google Cloud",
        text: "Digital transformation is a priority for organisations looking to become more agile. This means replacing older technology stacks with cloud and open-source technologies. Elevate your...",
        href: "https://services.google.com/fh/files/misc/idc-modernize-apps-with-open-source-on-google-cloud-us48402821_wp_final.pdf",
        hoverColor: "#61c34a"
    },
    {
        image: "/unified-data-cloud-image.jpg",
        title: "Cloud Observability Tools for Your Next Application",
        text: "In a rapidly evolving IT landscape, it is important to plan out the future of DevOps and Site Reliability Engineering Operations. Discover the opinion...",
        href: "https://cloud.google.com/resources/idc-built-in-observability-tool-adoption-blueprint-whitepaper?hl=en",
        hoverColor: "#61c34a"
    },
    {
        image: "/echo-star-image.jpg",
        title: "EchoStar Scales Their Operations at Unimaginable Speeds",
        text: "Find out how EchoStar migrated from an on- premises monolithic infrastructure to Google Cloud to leverage AI/ML, gain efficiencies, and scale operations at an unprecedented...",
        href: "https://cloud.google.com/customers/echostar",
        hoverColor: "#61c34a"
    }
];

const secondSliderItems = [
    {
        image: "/uncover-image.jpg",
        title: "Uncover Why Google Leads the Pack in Cloud AI Service",
        text: "Step into the future of cloud services with Google, a Leader in Gartner's 2024 Magic Quadrant for Cloud AI Developer Services! Unlock the power of...",
        href: "https://cloud.google.com/resources/gartner-caids-mq-report?hl=en",
        hoverColor: "#689cff"
    },
    {
        image: "/real-world-image.jpg",
        title: "Real-world Gen AI Use Cases from Leading Organisations",
        text: "At Google Cloud Next ‘24, top companies, governments, researchers, and startups showcased how they are already using Google's AI solutions to enhance their work. Learn...",
        href: "https://cloud.google.com/transform/101-real-world-generative-ai-use-cases-from-industry-leaders",
        hoverColor: "#689cff"
    },
    {
        image: "/executive-guide-image.jpg",
        title: "The Executive’s Guide to Generative AI",
        text: "Right now, only 15% of business and IT decision makers feel they have expert knowledge in the area of Generative AI. This comprehensive guide will...",
        href: "https://inthecloud.withgoogle.com/executive-guide-getting-started-with-generative-ai/dl-cd.html?_ga=2.252977801.-1669785295.1710939471&_gac=1.194250207.1712246871.CjwKCAjwte-vBhBFEiwAQSv_xbsOfgF5cfC1Q6GCUBy1ZjzWEzq1mns2fQndDCAtDKkkxD5sXlhVCRoCEw8QAvD_BwE&_gl=1*bf704e*_ga*MTY2OTc4NTI5NS4xNzEwOTM5NDcx*_ga_WH2QY8WWF5*MTcxNDE1NDY4Mi4xMi4xLjE3MTQxNjA4NjEuMC4wLjA.",
        hoverColor: "#689cff"
    }
];

const thirdSliderItems = [
    {
        image: "/efficiently-migrate-image.jpg",
        title: "How to Efficiently Migrate Your Databases to Google Cloud",
        text: "Start planning your migration journey with Google Cloud. Access this whitepaper to obtain guidance on how to expedite innovation, reduce operational overhead, simplify migration through...",
        href: "https://cloud.google.com/resources/migrating-your-databases-to-managed-services-whitepaper?hl=en",
        hoverColor: "#ecb005"
    },
    {
        image: "/google-continues-reign-image.jpg",
        title: "Google Continues Reign as Gartner Leader in Cloud Database Management",
        text: "Access this report to learn why Google leads Gartner's cloud database management systems magic quadrant for the fourth straight year and gain expert insights on...",
        href: "https://cloud.google.com/resources/gartner-dbms-mq-report?hl=en",
        hoverColor: "#ecb005"
    },
    {
        image: "/solana-works-image.jpg",
        title: "Solana Works with Google Cloud to Enable High Performance",
        text: "Tap into this brief video and hear from Dan Albert, from Solana Foundation, on how they leveraged Google's BigTable and BigQuery to streamline blockchain data...",
        href: "https://www.youtube.com/watch?v=dCDTcJVmV2E",
        hoverColor: "#ecb005"
    }
];

const fourthSliderItems = [
    {
        image: "/transform-image.jpg",
        title: "Transform Your Strategy with Google Cloud's BigQuery",
        text: "In an era where data is king, companies are grappling with the challenge of harnessing rapidly growing volumes of data efficiently. Uncover the critical strategic...",
        href: "https://cloud.google.com/resources/googlecloud-unified-analytics-data-platform-paper",
        hoverColor: "#61c34a"
    },
    {
        image: "/key-insights-image.jpg",
        title: "Key Insights from Forrester on Streaming Data Platforms",
        text: "Unlock the full potential of your enterprise with the power of streaming data platforms, as detailed in the Forrester Wave™: Streaming Data Platforms, Q4 2023...",
        href: "https://cloud.google.com/resources/forrester-wave-streaming-analytics-report?hl=en",
        hoverColor: "#61c34a"
    },
    {
        image: "/squarespace-image.jpg",
        title: "Squarespace Transforms Analytics with Google Cloud",
        text: "Learn how Squarespace transformed its operations by migrating to Google Cloud, leveraging BigQuery, Dataproc, and Google Kubernetes Engine (GKE) to streamline its data analytics processes...",
        href: "https://cloud.google.com/blog/products/data-analytics/squarespace-migrates-from-on-prem-hadoop-to-google-cloud",
        hoverColor: "#61c34a"
    }
];

const fifthSliderItems = [
    {
        image: "/gemini-image.jpg",
        title: "Gemini for Google Workspace: A New and Powerful Way of Working",
        text: "Generative AI is poised to fundamentally change the way we work, just like the internet, mobile devices, and cloud computing have in the past. Gemini...",
        href: "https://inthecloud.withgoogle.com/gemini-for-workspace-handbook/dl-cd.html?utm_source=wgc&utm_medium=et&utm_campaign=FY23-Q3-global-WKSP134-website-dl-duet-ai-handbook-gated-landing-page&utm_content=wgc-hp-tile-handbook&utm_term=-",
        hoverColor: "#689cff"
    },
    {
        image: "/economic-impact-image.jpg",
        title: "The Economic Impact of Google Workspace",
        text: "Google Workspace includes tools such as Drive, Gmail, Calendar, Chat, Meet, Docs, Forms, Sheets, Slides, and AppSheet, which come together to provide a collaborative and...",
        href: "https://tei.forrester.com/go/google/workspace/?lang=en-us",
        hoverColor: "#689cff"
    },
    {
        image: "/increased-performance-image.jpg",
        title: "Increased Performance and Productivity with Google Cloud and Google Workspace",
        text: "In Transfero's view, the cryptocurrency market should be demystified. That is why the company aims to engage in conversation with banking, crypto, and financial...",
        href: "https://cloud.google.com/customers/transfero",
        hoverColor: "#689cff"
    }
];

const sixthSliderItems = [
    {
        image: "/learn -data-image.jpg",
        title: "Learn Data Governance Best Practices",
        text: "Dive into this whitepaper to learn about the ideal log management system, covering topics such as data residency, retention, analysis, and access control. Inside...",
        href: "https://cloud.google.com/resources/data-governance-logs-best-practices-whitepaper?hl=en",
        hoverColor: "#ecb005"
    },
    {
        image: "/cyber-defences-image.jpg",
        title: "Building Better Cyber Defences with AI",
        text: "AI has the potential to be as influential a technology as the internet was back in the day. There is still a lot of uncertainty...",
        href: "https://cloud.google.com/blog/products/identity-security/cloud-ciso-perspectives-building-better-cyber-defenses-with-ai",
        hoverColor: "#ecb005"
    },
    {
        image: "/leveraging-image.jpg",
        title: "Leveraging AI-powered SecOps with Cloud Security",
        text: "Security Command Centre Enterprise—powered by AI SecOps—can help your organisation remain safe from the increasing number of cyberattacks...",
        href: "https://cloud.google.com/blog/products/identity-security/introducing-security-command-center-enterprise",
        hoverColor: "#ecb005"
    }
];
---

<Layout title="Solving for Innovation">
    <main class="main">
        <FirstScreen/>
        <CardSection/>
        <SectionContacts
                title="We empower you with the best cloud solutions for your needs"
                btnText="Contact sales"
                btnLink="https://cloud.google.com/?hl=en"
                videoUrl="/cloud-solution-1.mp4"
                videoImg="/cloud-solution-image-1.jpg"
        />
        <section class="section-sliders">
            <div class="wrapper">
                <aside class="section-sliders-aside">
                    <SidebarCard
                            title="Infrastructure and Application Modernisation"
                            text="The latest guides and best practices to streamline legacy systems and enhance infrastructure efficiency"
                            href="https://itcurated.com/Solving-For-Innovation/infrastructure-and-application-modernisation"
                            backgroundColor="#61c34a"
                            backgroundImage="/sidebar-card-bg-1.jpg"
                            color="#18730a"
                            cardClass="card-1"
                    />
                    <SidebarCard
                            title="Artificial Intelligence (AI)"
                            text="Transform your business with curated insights on AI to fuel customer service, predictive analytics, and more"
                            href="https://itcurated.com/Solving-For-Innovation/artificial-intelligence"
                            backgroundColor="#689cff"
                            backgroundImage="/sidebar-card-bg-2.jpg"
                            color="#2153af"
                            cardClass="card-2"
                    />
                    <SidebarCard
                            title="Databases"
                            text="Cloud technologies to bolster high-availability, scalable, and fully managed databases"
                            href="https://itcurated.com/Solving-For-Innovation/databases"
                            backgroundColor="#ecb005"
                            backgroundImage="/sidebar-card-bg-3.jpg"
                            color="#9d5f01"
                            cardClass="card-3"
                    />
                    <SidebarCard
                            title="Smart Analytics"
                            text="Discover AI-driven solutions to enhance the data alignment and productivity of your teams to achieve positive outcomes"
                            href="https://itcurated.com/Solving-For-Innovation/smart-analytics"
                            backgroundColor="#61c34a"
                            backgroundImage="/sidebar-card-bg-4.jpg"
                            color="#18730a"
                            cardClass="card-4"
                    />
                    <SidebarCard
                            title="Productivity & Collaboration"
                            text="Empower your decision making and product updates with in-depth and actionable smart analytics"
                            href="https://itcurated.com/Solving-For-Innovation/productivity-and-collaboration"
                            backgroundColor="#689cff"
                            backgroundImage="/sidebar-card-bg-5.jpg"
                            color="#2153af"
                            cardClass="card-5"
                    />
                    <SidebarCard
                            title="Security"
                            text="Reinforce your cyber resilience by protecting applications, data, and infrastructure with the latest cloud solutions and best practices"
                            href="https://itcurated.com/Solving-For-Innovation/security"
                            backgroundColor="#ecb005"
                            backgroundImage="/sidebar-card-bg-6.jpg"
                            color="#9d5f01"
                            cardClass="card-6"
                    />
                </aside>
                <div class="section-sliders-content">
                    <div class="section-sliders-items">
                        <Slider glideClass="glide1" slides={firstSliderItems}/>
                    </div>
                    <div class="section-sliders-items">
                        <Slider glideClass="glide2" slides={secondSliderItems}/>
                    </div>
                    <div class="section-sliders-items">
                        <Slider glideClass="glide3" slides={thirdSliderItems}/>
                    </div>
                    <div class="section-sliders-items">
                        <Slider glideClass="glide4" slides={fourthSliderItems}/>
                    </div>
                    <div class="section-sliders-items">
                        <Slider glideClass="glide5" slides={fifthSliderItems}/>
                    </div>
                    <div class="section-sliders-items">
                        <Slider glideClass="glide6" slides={sixthSliderItems}/>
                    </div>
                </div>
            </div>
        </section>

        <SectionContacts
                title="Find the best cloud solutions for your needs"
                subtitle="Identify the right solutions to exceed your goals"
                btnText="Contact sales"
                btnLink="https://cloud.google.com/?hl=en"
                videoUrl="/cloud-solution-2.mp4"
                videoImg="/cloud-solution-image-1.jpg"
                sectionClass="bottom"
        />
    </main>
</Layout>

<style lang="scss">
  .section-sliders {
    padding-left: 40px;
    /*padding-right: 40px;*/

    /*@media screen and (max-width: 1640px) {*/
    /*  padding-right: unset;*/
    /*}*/
    @media screen and (max-width: 992px) {
      padding-left: unset;
    }

    .wrapper {
      display: flex;
      max-width: 1560px;
      /*margin: 0 auto;*/
      margin: 0 0 0 auto;

      /*@media screen and (max-width: 1640px) {*/
      /*  max-width: 1440px;*/
      /*  margin: 0 0 0 auto;*/
      /*}*/
      @media screen and (max-width: 992px) {
        flex-wrap: wrap;
      }
    }

    &-aside {
      width: 393px;

      @media screen and (max-width: 992px) {
        display: contents;
        width: 100%;
      }
    }

    &-content {
      width: calc(100% - 393px);

      @media screen and (max-width: 992px) {
        display: contents;
        width: 100%;
      }
    }

    &-items {
      min-height: 570px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 100px;

      @media screen and (max-width: 992px) {
        display: block;
        width: 100%;
        min-height: unset;
        margin-bottom: 60px;

        &:nth-child(1) {
          order: 1;
        }
        &:nth-child(2) {
          order: 2;
        }
        &:nth-child(3) {
          order: 3;
        }
        &:nth-child(4) {
          order: 4;
        }
        &:nth-child(5) {
          order: 5;
        }
        &:nth-child(6) {
          order: 6;
        }
      }
    }
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

<script>


    window.addEventListener('DOMContentLoaded', e => {
        const sliderSections = document.querySelectorAll('.section-sliders-items')

        if (sliderSections.length) {
            sliderSections.forEach(section => {
                section.addEventListener('wheel', sliderSectionCustomScroll)
            })
        }


        const cards = document.querySelectorAll('.sidebar-card');
        const cardsWrapper = document.querySelector('.section-sliders-aside');

        if (cards.length && cardsWrapper) {
            cardAnimate(cards, cardsWrapper)
            setCatPos(cards)
        }
    })

    function sliderSectionCustomScroll(event) {
        event.preventDefault()

        const parent = event.target.closest('.glide')

        window.sliders.forEach(slider => {
        const sliderClass = slider.selector.slice(1)

        if (parent.classList.contains(sliderClass)) {
                event.deltaY > 0 ? slider.go('>') : slider.go('<')
            }
        })
    }

     function cardAnimate(cards, cardsWrapper) {
        const offset = 670;
        let lastScrollY = window.scrollY;

        window.addEventListener('scroll', () => {
            const direction = lastScrollY < window.scrollY ? 'down' : 'up';
            lastScrollY = window.scrollY;

            for (let i = 0; i < cards.length; i++) {
                const card = cards[i];
                const nextCard = cards[i + 1];

                if (nextCard && nextCard.offsetTop - offset < window.scrollY) {
                    window.sliders.forEach(slider => {

                        if (slider.selector.slice(1) === `glide${i + 1}`) {

                        }
                    })

                    let d = (cardsWrapper.offsetTop - window.scrollY) * .000015
                    card.style.cssText += `transform: scaleX(${1 + (d * (cards.length - i))})`
                } else if (direction === 'up' && card.offsetTop - offset > window.scrollY) {
                    for (let j = i; j < cards.length; j++) {
                        card.style.cssText += `transform: scaleX(1)`

                        if (j > 0) {
                            cards[j - 1].style.cssText += `transform: scaleX(1)`
                        }
                    }
                }
            }
        });
     }

     function setCatPos(cards) {
     console.log(slider.offsetTop)
        cards.forEach((card, index) => {
            const slider = document.querySelector(`${window.sliders[index].selector}`)
            console.log(card, slider.offsetTop)
            card.dataset.sectionPos = slider.offsetTop
        })
     }
</script>

