---
interface Props {
    title: string;
    text: string;
    image: string;
    href: string;
}

const {title, text, image, href} = Astro.props;
---

<a href={href} class="card">
    <figure><img src={image} alt={title}></figure>
    <div class="card-component">
        <strong>{title}</strong>
        <p>{text}</p>
    </div>
    <span>Read now <img src="/arrow.svg" alt="Link arrow"></span>
</a>

<style lang="scss">
  .card {
    border: 2px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    min-height: 513px;
    padding-bottom: 30px;

    &:hover {
      border-color: #61c34a;

      figure {
        padding: 10px 10px 0;
      }

      span {
        visibility: visible;
      }
    }

    &-component {
      padding: 30px 20px;

      strong {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 22px;
        line-height: 127%;
        color: var(--mid-grey);
        display: block;
        margin-top: unset;
        margin-bottom: 20px;
      }

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 137%;
        color: var(--mid-grey);
        margin: unset;
      }
    }

    figure {
      transition: padding ease .3s;

      img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
      }
    }

    span {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 194%;
      color: #61c34a;
      display: flex;
      align-items: center;
      align-self: flex-end;
      visibility: hidden;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: auto;

      img {
        margin-left: 7px;
      }
    }
  }
</style>
