---
const {title, text, image, href, hoverColor} = Astro.props;
---

<div class="card">
    <figure><img src={image} alt={title}></figure>
    <div class="card-component">
        <strong>{title}</strong>
        <p>{text}</p>
    </div>
    <a href={href} >Read now
        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 0L7.41375 1.58625L13.6912 7.875H0V10.125H13.6912L7.41375 16.4137L9 18L18 9L9 0Z"
                  fill={hoverColor}/>
        </svg>
    </a>
</div>

<style lang="scss" define:vars={{hoverColor}}>
  .card {
    border: 2px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    min-height: 513px;
    padding-bottom: 30px;

    @media screen and (max-width: 768px) {
      min-height: unset;
      margin-bottom: 48px;
    }

    @media screen and (max-width: 576px) {
      padding-bottom: 20px;
    }

    &:hover {
      border-color: var(--hoverColor);

      figure {
        padding: 8px 9px 0;
      }

      a {
        visibility: visible;
      }
    }

    &-component {
      padding: 30px 20px;

      @media screen and (max-width: 576px) {
        min-height: unset;
        padding: 20px;
      }

      strong {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 22px;
        line-height: 127%;
        color: var(--mid-grey);
        display: block;
        margin-top: unset;
        margin-bottom: 20px;

        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 137%;
        color: var(--mid-grey);
        margin: unset;
      }
    }

    figure {
      width: 100%;
      height: 240px;
      text-align: center;
      transition: padding ease .3s;
      margin: 0 auto;

      @media screen and (max-width: 576px) {
        height: auto;
      }

      img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
        width: 100%;
      }
    }

    a {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 194%;
      text-decoration: none;
      color: var(--hoverColor);
      display: flex;
      align-items: center;
      align-self: flex-end;
      visibility: hidden;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: auto;

      svg {
        margin-left: 7px;
      }
    }
  }
</style>
