---
const {title, subtitle, btnLink, btnText, videoImg, videoUrl, sectionClass} = Astro.props;

let sectionClassList = sectionClass ? `section-contacts ${sectionClass}` : `section-contacts`;
---

<section class={sectionClassList}>
    <div class="wrapper">
        <div class="content">
            <h2>
                <Fragment set:html={title}/>
            </h2>
            {subtitle && <p>{subtitle}</p>}
            <a href={btnLink}>{btnText}</a>
        </div>
        <figure>
            <video autoplay loop muted poster={videoImg}>
                <source src={videoUrl} type="video/mp4">
            </video>
        </figure>
    </div>
</section>

<style lang="scss">
  .section-contacts {
    background-color: #c1cdd3;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;

    &:not(:last-child) {
      margin-bottom: 100px;

      @media screen and (max-width: 768px) {
        margin-bottom: 60px;
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 386px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;

    @media screen and (max-width: 992px) {
      align-items: unset;
      min-height: 430px;
      padding-top: 40px;
    }
  }

  .content {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 46px;
    line-height: 109%;
    color: #555;
    max-width: 673px;
    margin-top: unset;
    margin-bottom: unset;

    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
    @media screen and (max-width: 768px) {
      font-size: 25px;
    }
  }

  p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 208%;
    color: #555;
    margin-top: 6px;
    margin-bottom: unset;
  }

  a {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 155%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    border-radius: 4px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);

      @media screen and (max-width: 1280px) {
        position: absolute;
        transform: scale(1.4);
      }
      @media screen and (max-width: 992px) {
        transform: scale(1.8);
        right: 10%;
      }
    }
  }

  .bottom {
    .wrapper {
      background-color: #a5bdca;
    }

    figure {
      video {
        transform: scale(1);
        position: absolute;

        @media screen and (max-width: 1280px) {
          transform: scale(1.4);
          top: 8%;
        }

        @media screen and (max-width: 992px) {
          transform: scale(1.8);
        }
      }
    }
  }
</style>