---
import Card from "./Card.astro";
let {glideClass, slides} = Astro.props;

let slideClass = `glide ${glideClass}`
---

<div class={slideClass} id={glideClass}>
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
            {slides.map(slide => (
                    <Card
                            title={slide.title}
                            text={slide.text}
                            image={slide.image}
                            href={slide.href}
                    />
            ))}
        </div>
    </div>
</div>

<style>
    .glide__slides {
        white-space: unset;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const glideClass = document.querySelectorAll('.glide')

        glideClass.forEach((glide) => {
            const options = {
                type: 'carousel',
                perView: 3,
                gap: 30,
                autoplay: 5000,
                hoverpause: true,
                peek: {
                    before: 30,
                    after: 0
                },
                breakpoints: {
                    1640: {
                        perView: 2,
                        peek: {
                            before: 30,
                            after: 200
                        },
                    },
                    1200: {
                        perView: 2,
                        peek: {
                            before: 30,
                            after: 50
                        },
                    }
                }
            };
            new Glide(`.${glide.id}`, options).mount();
        });
    });
</script>